<div class="row vertical-center">
  <div class="col-sm-6 col-md-6">
    <div class="col-md-12 sel-box thumbnail">
      <div class="row text-center">
        <h3 class="spacer">MTGJS</h3>
        <h2 class="smaller-top-margin">DECK BUILDER</h2>
        <div class="row spacer"></div>
        <div class="col-md-12">
          <h4>Create a new deck with MTGJS's deck builder.</h4>
        </div>
        <button ui-sref="newDeck" class="btn btn-lg btn-default spacer" ng-click="">NEW DECK</button>
        <div class="row spacer"></div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-6">
    <div class="col-md-12 sel-box thumbnail">
      <div class="row text-center">
        <h3 class="spacer">MTGJS</h3>
        <h2 class="smaller-top-margin">DECK EDITOR</h2>
        <div class="row spacer"></div>
        <div class="col-md-12">
          <h4>Edit an existing deck with MTGJS's deck editor.</h4>
        </div>
        <button ui-sref="editDeck" class="btn btn-lg btn-default spacer" ng-click="">EDIT DECK</button>
        <div class="row spacer"></div>
      </div>
    </div>
  </div>
</div>
