<div class="row">
  <div class="col-sm-12 col-md-12">
    <h3>Deck Building <button ui-sref="deck" type="button" class="close">&times;</button></h3>
  </div>
</div>

<div class="row thumbnail">

  <!-- Deck Setup -->
  <div class="col-md-6">
    <div class="row">
      <h4 class="text-center">Deck Information</h4>
    </div>
    <div class="row">
      <div class="col-md-12">
        <form role="form">
          <div class="form-group">
            <label>Name:</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>Description:</label>
            <input type="text" class="form-control">
          </div>
        </form>
      </div>
    </div>
    <div class="row"></div>
  </div>
</div>

<div class="row">
  <div class="col-md-8"></div>
  <div class="col-md-4">
    <button class="btn btn-default pull-right" ng-click="">Create Deck</button>
  </div>

</div>
